
<div class="text-center">
    <h1 class="display-4"><strong>Welcome</strong></h1>
    <h2 class="display-4"> <strong>BlogHub is a place to write, read, and connect</strong></h2>
    <div class="row justify-content-center">
        <p class="col-md-9">It is easy and free to post your thinking any topic and connect people. <a asp-area="Identity" asp-page="/Account/Register">Start Writing</a>. If you already have an account <a asp-area="Identity" asp-page="/Account/Login">Log in</a> </p>
    </div>
</div>
